<ul class="nav">
    <li class="{if __route == 'index'}active{/if}">
        <a href="/">
            <i class="material-icons">dashboard</i>
            <p>Dashboard</p>
        </a>
    </li>
    <li class="{if __route == 'plano-de-estudo'}active{/if}">
        <a href="/plano-de-estudo">
            <i class="material-icons">school</i>
            <p>Plano de Estudo</p>
        </a>
    </li>
    <li class="{if __route == 'historico'}active{/if}">
        <a href="/historico">
            <i class="material-icons">history</i>
            <p>Histórico</p>
        </a>
    </li>
</ul>
